<html>
	<head>
		<title> Logueo </title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	
	<body background="/media/campo02.JPG">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Inicio</a>
			</div>
			<div>
			<ul class="nav navbar-nav">
			  <li><a href="/clasificacion">Clasificacion</a></li>
			  <li><a href="/calendario">Calendario</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
			{% if not user.is_authenticated %}
				<li><a href="/usuario/registro"><span class="glyphicon glyphicon-user"></span> Resgistrarse</a></li>
				<li><a href="/usuario/login"><span class="glyphicon glyphicon-log-in"></span> Iniciar Sesion</a></li>
			{% else %}
				<li><a href="/"> <span class="glyphicon glyphicon-user"> {{user.username}} </a></li>
				<li><a href="/usuario/logout"><span class="glyphicon glyphicon-log-out"></span> Cerrar Sesión</a></li>
			{% endif %}
			</ul>
			</div>
			</div>
		</nav>
	
		<center>
			{% if form.errors %}
				<font color="red">Tu usuario y contrasñea no son correctas. Por favor, intentelo de nuevo.</font>
			{% endif %}
			<br><br><br>
			<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
				{% csrf_token %}
			<table border="1" class="table-striped">
				<tr>
					<td>{{ form.username.label_tag }}</td>
					<td>{{ form.username }}</td>
				</tr>
				<tr>
					<td>{{ form.password.label_tag }}</td>
					<td>{{ form.password }}</td>
				</tr>
				</table>
				<br><br>
				<input type="submit" value="Iniciar Sesion"/> <input type="hidden" name="next" value="{{ next }}"/>
		</center>
	</body>
</html>
